<footer class="footer">
  <div class="footer-container">
    <a href="https://t.me/ianblas27" target="_blank" rel="noopener noreferrer" class="footer-link">
      <i class="fab fa-telegram icon"></i>
      <span>Contacto directe</span>
    </a>
    <a href="https://github.com/Schola-Interlingua/schola-interlingua" target="_blank" rel="noopener noreferrer" class="footer-link">
      <i class="fab fa-github icon"></i>
      <span>Reposito official</span>
    </a>
    <a href="https://github.com/arrunzo/interlingua-es" target="_blank" rel="noopener noreferrer" class="footer-link">
      <i class="fas fa-book-open icon"></i>
      <span>Plus materiales</span>
    </a>
    <a href="https://www.interlingua.com/interlingua-es/" target="_blank" rel="noopener noreferrer" class="footer-link">
      <i class="fas fa-globe icon"></i>
      <span>Union Mundial pro Interlingua</span>
    </a>
  </div>
</footer>